/* base.css (ou funcionarios.css) */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-section {
    margin-bottom: 40px;
}

.form-section legend {
    font-weight: bold;
    margin-bottom: 20px;
}