/* core/static/styles/vendas.css */

#itens-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#itens-table th,
#itens-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd; /* Adiciona bordas às células */
}

#itens-table th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#itens-table tr {
    transition: background-color 0.3s ease;
}

#itens-table tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

.vendas-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.vendas-table th,
.vendas-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.vendas-table th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.vendas-table tr {
    transition: background-color 0.3s ease;
}

.vendas-table tr:hover {
    background-color: #f8f9fa;
}

.venda-row {
    cursor: pointer;
}

.cadastrar-venda {
    background-color: var(--cor-confirmacao);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.cadastrar-venda:active {
    background-color: var(--cor-confirmacao-ativo);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-section {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
    background-color: var(--cor-confirmacao);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.submit-btn:active {
    background-color: var(--cor-confirmacao-ativo);
}

.view-btn {
    background-color: var(--cor-visualizar);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.view-btn:active {
    background-color: var(--cor-visualizar-ativo);
}